@{
    int count = 0;
}

<div class="row">
    <div class="col-lg-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive pt-3">
                    <a asp-area="AdminPanel" asp-controller="Slider" asp-action="Create" class="btn btn-success btn-rounded btn-fw">Create</a>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Subtitle
                                </th>
                                <th>
                                    Products
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Slider slider in Model)
                            {
                                <tr class="table-info">
                                    <td>
                                        <p>@slider.Id</p
                                    </td>
                                    <td>
                                        <img src="~/assets/images/website-images/@slider.Image" alt="@slider.Title" />
                                    </td>
                                    <td>
                                        <p>@slider.Title</p>
                                    </td>
                                    <td>
                                        <p>@slider.Subtitle</p>
                                    </td>
                                    <td>
                                        <p>@slider.Description</p>
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-route-id="@slider.Id" class="btn btn-warning btn-rounded btn-fw">Edit</a>
                                        <a asp-action="delete" asp-route-id="@slider.Id" class="btn btn-danger btn-rounded btn-fw">Delete</a>
                                        <a asp-action="Detail" asp-route-id="@slider.Id" class="btn btn-info btn-rounded btn-fw">Detail</a>
                                    </td>
                               
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
            
</div>